*,
::after,
::before {
  box-sizing: border-box;
}
body,
ul,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, PingFangSC-Regular, "PingFang SC", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #f3f5f8;
  background-color: #050505;
}
img {
  vertical-align: bottom;
}
ul {
  list-style-type: none;
}
a {
  color: #e6e7ea;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
li {
  list-style: none;
}
dl {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
dt,
dd {
  margin: 0;
  padding: 0;
}
button {
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
}
button:hover {
  opacity: 0.8;
}
button:active {
  opacity: 0.7;
}
@font-face {
  font-family: "FluentSystemIcons-Resizable";
  src: url("../../yibazhan/font/FluentSystemIcons-Resizable.ttf");
}
@keyframes header-slide-in {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes opacity-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
a {
  margin: 0;
  padding: 0;
  word-break: keep-all;
}
a i {
  margin-top: 2px;
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  padding-right: 4px;
}
a i img {
  padding-bottom: 2px;
}
a:hover {
  opacity: 0.85;
}
a:active {
  opacity: 0.7;
}
a.toolButton {
  -webkit-user-drag: none;
  user-drag: none;
}
a.toolButton img {
  -webkit-user-drag: none;
  user-drag: none;
  height: 24px;
}
a.toolButton.primary {
  color: #25d9e6;
}
a.link {
  color: #25d9e6;
}
a.link::before {
  margin-right: 6px;
  content: "\ea77";
  font-family: FluentSystemIcons-Resizable;
  /* 设置图标字体 */
  font-size: 20px;
  vertical-align: middle;
}
a.link.float {
  color: #f3f5f8;
  font-size: 14px;
  transition: all 0.35s ease;
  display: inline-block;
  align-items: center;
  position: relative;
}
a.link.float:hover {
  transform: translateX(20px);
}
a.link.float::before {
  content: "\e126";
  /* 图标（箭头） */
  position: absolute;
  right: 100%;
  opacity: 0;
  transition: all 0.3s ease;
  font-size: 14px;
  top: 50%;
  transform: translateY(-50%);
}
a.link.float:hover::before {
  opacity: 1;
}
a.pushButton {
  display: inline-block;
  min-height: 35px;
  margin: 6px 0;
  cursor: default;
  padding: 5px 12px 6px 12px;
  font-size: 13.5px;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.12);
  border-radius: 5px;
  border: 1px solid rgba(185, 185, 185, 0.073);
  border-bottom: 1px solid rgba(50, 50, 50, 0.183);
  text-align: center;
  vertical-align: center;
  -webkit-user-drag: none;
  user-drag: none;
}
a.pushButton.primary {
  color: #1c1c1c;
  background-color: #25d9e6;
}
.wrapper {
  margin: 0 auto;
  width: 1200px;
}
header {
  position: fixed;
  top: 0;
  color: #fff;
  width: 100%;
  height: 64px;
  background-color: rgba(12, 15, 17, 0.8);
  backdrop-filter: blur(60px);
  box-shadow: 0 4px 16px 4px rgba(0, 0, 0, 0.2);
  z-index: 999;
}
header .wrapper {
  display: flex;
  padding-left: 8px;
  height: 100%;
  align-items: center;
  justify-content: space-between;
}
header .left,
header .right {
  display: flex;
  align-items: center;
  gap: 24px;
}
.tabs {
  margin-left: 12px;
  display: flex;
}
.tabs .tab {
  cursor: default;
  position: relative;
  margin: 0 16px;
  font-size: 15px;
  color: #fff;
  -webkit-user-drag: none;
}
.tabs .tab.active::after {
  content: "";
  position: absolute;
  bottom: -6px;
  left: 50%;
  /* 将伪元素水平居中 */
  transform: translateX(-50%);
  /* 使伪元素在水平居中 */
  width: 20px;
  height: 3px;
  opacity: 0;
  background-color: #25d9e6;
  border-radius: 1.5px;
  z-index: 1;
  animation: opacity-in 0.25s;
  animation-fill-mode: forwards;
  animation-delay: 0.25s;
}
.logo a {
  display: block;
  width: 200px;
  height: 64px;
  background: url('../../yibazhan/images/logo.png') no-repeat center center;
  background-size: contain;
  font-size: 0;
  /* 隐藏文字 */
  -webkit-user-drag: none;
  user-drag: none;
}
footer {
  background-color: #161719;
  width: 100%;
  height: 100%;
}
footer .wrapper {
  display: flex;
  justify-content: space-between;
  padding: 24px 0;
}
footer .left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 6px;
}
footer .left p {
  opacity: 0.8;
}
footer .left .desc {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}
footer .left .desc a {
  font-size: 13px;
  opacity: 0.8;
}
footer .left .bottom {
  margin-top: 18px;
  display: flex;
  gap: 18px;
  align-items: center;
}
footer .right {
  display: flex;
}
footer .right dl {
  margin-top: 12px;
  width: 100px;
  text-align: left;
}
footer .right dl dt {
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 12px;
}
footer .right dl dd {
  margin-bottom: 6px;
}
.intro {
  padding: 84px 0;
  overflow: hidden;
}
.intro h2 {
  font-size: 58px;
}
a.footnote {
  font-size: 1em;
  font-feature-settings: "numr";
}
.footnotes {
  background-color: #161719;
  padding: 17px 0 11px 0;
  color: #ddd;
}
.footnotes li {
  padding-bottom: 9px;
}
@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.banner {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url('../../yibazhan/images/banner.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.banner::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: inherit;
  filter: blur(60px);
  pointer-events: none;
  mask-image: linear-gradient(to right, #000000 32%, rgba(0, 0, 0, 0) 65%, #000000 100%);
  -webkit-mask-image: linear-gradient(to right, #000000 32%, rgba(0, 0, 0, 0) 65%, #000000 100%);
  z-index: 0;
}
.banner h2 {
  font-size: 36px;
}
.banner p {
  margin-bottom: 8px;
  font-weight: 500;
  opacity: 0.8;
  font-size: 16px;
}
.banner img {
  margin: 6px 0;
  width: 100px;
}
.banner .wrapper {
  position: relative;
  display: flex;
  height: 100%;
  z-index: 1;
}
.banner .left {
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
}
.banner .left .bottom {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 24px;
}
.banner .left .bottom .links {
  display: flex;
  gap: 24px;
}
.intro h2.visible {
  animation: fade-in 0.5s forwards;
}
.intro h2 strong {
  -webkit-background-clip: text !important;
  background-clip: text;
  -webkit-text-fill-color: rgba(0, 0, 0, 0);
}
.intro .wrapper {
  display: flex;
}
.intro p {
  color: rgba(255, 255, 255, 0.7);
  font-size: 21px;
  font-weight: 500;
}
#intro_1 .wrapper {
  flex-direction: column;
  align-items: center;
  gap: 64px;
}
#intro_1 .wrapper p {
  width: 800px;
  text-align: center;
}
#intro_1 .wrapper h2 {
  text-align: center;
}
#intro_1 .wrapper h2 strong {
  background-image: linear-gradient(335deg, #82e6ff 40%, #165fe6);
}
#intro_1 .wrapper .img-container {
  position: relative;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  mask: linear-gradient(white 50%, transparent 100%);
}
#intro_1 .wrapper .img-container img {
  position: absolute;
  top: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
}
#feat_1 .wrapper {
  flex-direction: row;
  justify-content: space-between;
}
#feat_1 .wrapper .left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#feat_1 .wrapper .left h2 {
  text-align: left;
}
#feat_1 .wrapper .left h2 strong {
  background-image: linear-gradient(135deg, #8e82ff 40%, #16e647);
}
#feat_1 .wrapper .left p {
  font-size: 18px;
}
#feat_1 .wrapper img {
  width: 50%;
}
#feat_2 .wrapper {
  flex-direction: row;
  justify-content: space-between;
}
#feat_2 .wrapper .right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#feat_2 .wrapper .right h2 {
  text-align: right;
}
#feat_2 .wrapper .right h2 strong {
  background-image: linear-gradient(135deg, #ffc182 40%, #5d64e4);
}
#feat_2 .wrapper .right p {
  font-size: 18px;
  text-align: right;
}
#feat_2 .wrapper .carousel {
  position: relative;
  overflow: hidden;
  width: 50%;
  border-radius: 8px;
}
#feat_2 .wrapper .carousel .screenshot-container {
  display: flex;
  flex-shrink: 1;
  transition: transform 0.5s;
  /* 添加过渡动画 */
}
#feat_2 .wrapper .carousel:hover .prev,
#feat_2 .wrapper .carousel:hover .next {
  opacity: 1;
}
#feat_2 .wrapper .carousel img {
  -webkit-user-drag: none;
  width: 100%;
  height: auto;
  object-fit: cover;
}
#feat_2 .wrapper .carousel .prev,
#feat_2 .wrapper .carousel .next {
  cursor: default;
  position: absolute;
  padding-top: 4px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 45px;
  border-radius: 5px;
  background-color: rgba(46, 46, 46, 0.8);
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20px);
  opacity: 0;
  transition: opacity 0.2s;
}
#feat_2 .wrapper .carousel .prev i,
#feat_2 .wrapper .carousel .next i {
  color: #999;
  font-size: 21px;
}
#feat_2 .wrapper .carousel .prev {
  left: 6px;
}
#feat_2 .wrapper .carousel .next {
  right: 6px;
}
#how_to_join {
  background-color: #212122;
}
#how_to_join .wrapper {
  flex-direction: column;
  align-items: center;
  grid-gap: 64px;
}
#how_to_join .wrapper .cards_grid {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fill, minmax(588px, 1fr));
  gap: 24px;
}
#how_to_join .wrapper .cards_grid .card {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px;
  width: 100%;
  background-color: #313234;
  border-radius: 8px;
  box-shadow: none;
  transition: all 0.2s;
}
#how_to_join .wrapper .cards_grid .card:hover {
  box-shadow: 0 5px 16px rgba(0, 0, 0, 0.2);
  opacity: 0.9;
}
#how_to_join .wrapper .cards_grid .card p {
  color: #CCC;
  font-size: 16px;
  font-weight: normal;
}
#how_to_join .wrapper .cards_grid .card .top {
  position: relative;
  display: flex;
  align-items: center;
  gap: 8px;
}
#how_to_join .wrapper .cards_grid .card .top i {
  padding-top: 6px;
  font-size: 28px;
}
#how_to_join .wrapper .cards_grid .card .top h3 {
  font-size: 22px;
}
#how_to_join .wrapper .cards_grid .card .top::before {
  content: "";
  display: block;
  width: 4px;
  height: 20px;
  border-radius: 2px;
  background-color: #25d9e6;
}
#download {
  padding: 32px 0;
  background-color: #141415;
}
#download .wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;
}
#download .wrapper h2 {
  font-size: 28px;
}
#download .wrapper .bottom a {
  margin: 0 4px;
}
/*# sourceMappingURL=index.css.map */